@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importando as fontes Playfair Display e Inter do Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
/* src/index.css */
/* ... mantenha o código que já estava aqui ... */

html {
  scroll-behavior: smooth;
}